<mat-toolbar  style="display:flex" color="primary">
  <img id="logo" src="https://thumbs.dreamstime.com/z/logo-del-wordmark-di-jazz-84978167.jpg">
  <span><h3>M</h3><h1>usic</h1></span>
  <span id="pulsanti" display="flex"><button  color="primary" mat-button id="primo">Log in</button><button id="secondo" mat-button>Sign in</button></span>
</mat-toolbar>
<span id="titolo"><h1>Welcome In New York Music</h1></span>


<span  id="form">
<form class="modulo" [formGroup]="mioForm">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nome" nome="nome">
    </mat-form-field>
  

<mat-form-field class="example-full-width">
    <input matInput placeholder="Password" nome="password">
 
   </mat-form-field><br>
   <button id="accedi">accesso</button>
   <button id="registrati">registrati</button>
 
  </form>

</span>
<span id="form2">
<form class="modulo2" [formGroup]="mioForm2">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nome" >
    </mat-form-field>
 

<mat-form-field class="example-full-width">
    <input matInput placeholder="Cognome" >
   </mat-form-field>
   

 
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Citta" >
   </mat-form-field>
   
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" >
    </mat-form-field>
  </form>
</span>

  

  
  
  

   
 

  
  
  
   
 
  



